You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a single dedicated `.py` file called `01ex_introduction.py`.

You can divide the individual exercises in the source code with appropriate comments (`#`).

The exercises need to run without errors with `python3 01ex_introduction.py`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [1]:
list_A= []
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0 :
        list_A.append('HelloWorld')
    elif i % 3 == 0 :
        list_A.append("Hello")
    elif i % 5 == 0 :
        list_A.append("World")
    else :
        list_A.append(i)
print(f'the result for part A is : {tuple(list_A)}')

for i in range(0,len(list_A)) :
    if list_A[i] == 'Hello' :
        list_A[i] = 'Python'
    elif list_A[i] =='World' :
        list_A[i] = 'Works'
    elif list_A[i] =='HelloWorld':
        list_A[i] = 'pythonworks'
    else :
        continue    
print(f'the result for part B is : {tuple(list_A)}')

the result for part A is : (1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')
the result for part B is : (1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'pythonworks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'pythonworks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'pythonworks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'pythonworks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'pythonworks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'pythonworks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [2]:
x = input('please insert "X" = ')
y = input('please insert "Y" = ')
x,y = y,x
print(f'the new result for "x" is = {x} and for "y" is {y}')

the new result for "x" is = 4 and for "y" is 3

3\. **Computing the distance**

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [3]:
import math
# in this part user should input value of the point for "x" and for "y", for example user insert 3,4 for "x" and 5,6 for "y", the input should be exactly like example.
x = tuple(input('please insert your first tuple : ').split(','))
y = tuple(input('please insert your second tuple : ').split(','))
x_value = int(x[0])-int(x[1])
y_value = int(y[1])-int(y[0])
distance = math.sqrt((x_value**2) + (y_value**2))
print(f'the distance is : {distance}')

the distance is : 5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [4]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"
counter = {}
for i in s1:
    if i.isalpha() == True :
        i = i.upper()
        counter[i] = counter.get(i,0) + 1
print(counter)

{'W': 4, 'R': 19, 'I': 12, 'T': 19, 'E': 20, 'A': 7, 'P': 8, 'O': 15, 'G': 1, 'M': 8, 'H': 11, 'N': 10, 'S': 7, 'U': 7, 'B': 5, 'F': 10, 'L': 12, 'D': 5, 'V': 2, 'C': 1}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique_list = []

for i in l :
    if l.count(i) == 1 :
        unique_list.append(i)

print(f'this is our unique list : {unique_list}')
print(f'the number of unique number is : {len(unique_list)}')

this is our unique list : [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
the number of unique number is : 37

Do the same exploiting only the Python data structures.

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [6]:
x1 = input('please insert your first variables : ')
x2 = input('please insert your second variables : ')
input_list,int_list,float_list,str_list= [x1,x2],[],[],[]
for i in range(0,2) :
    try :
        int_list.append(int(input_list[i]))
    except :
        try :
            float_list.append(float(input_list[i]))
        except :
            str_list.append(input_list[i])

final_list = int_list + float_list + str_list
try : 
    print(f'the sum of the value is : {sum(final_list)}')
except :
    print(f'These entries cannot be added together, and the result is : {final_list[0]} + {final_list[1]}')

These entries cannot be added together, and the result is : 5 + Anna

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
# the code for the the part A of the question : 
list_1 = []
for i in range(0,11) :
    list_1.append(i**3)
print(f'the list with "for" loop is like :  {list_1}')
# the code for the part B of the question : 
list_2 = []
list_2 = [i**3 for i in range(0,11)]
print(f'the list with "list comprehention is like that : {list_2}')

the list with "for" loop is like :  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
the list with "list comprehention is like that : [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [8]:
import itertools
result_list = [(i,j) for i,j in itertools.product([0,1,2],[0,1,2,3])]
print(result_list)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [9]:
#we have the limitation for "c" that it should be smaller than 100
m,n,result_list,c= 2,1,[],0
while c < 100 :
    for n in range(1,m+1):
        a = ((m**2) - (n**2))
        b = 2 * m * n
        c = ((m**2) + (n**2))
        if a == 0 or c > 100 :
            break
        else :
            result_list.append((a,b,c))
    m += 1
print(result_list)

[(3, 4, 5), (8, 6, 10), (5, 12, 13), (15, 8, 17), (12, 16, 20), (7, 24, 25), (24, 10, 26), (21, 20, 29), (16, 30, 34), (9, 40, 41), (35, 12, 37), (32, 24, 40), (27, 36, 45), (20, 48, 52), (11, 60, 61), (48, 14, 50), (45, 28, 53), (40, 42, 58), (33, 56, 65), (24, 70, 74), (13, 84, 85), (63, 16, 65), (60, 32, 68), (55, 48, 73), (48, 64, 80), (39, 80, 89), (28, 96, 100)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [10]:
from math import sqrt
# we insert a vector in list for example :
vector,sum= [1,4,6,7,5,6],0
for  i in vector :
    sum  = sum + (i**2)
total = sqrt(sum)
normal_vector = [i/total for i in vector]
print(normal_vector)

[0.07832604499879574, 0.31330417999518295, 0.4699562699927744, 0.5482823149915702, 0.3916302249939787, 0.4699562699927744]

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [11]:
fibo_list = [0,1,1]
for i in range (3,19):
    next_fibo_value = fibo_list[i-2] + fibo_list[i-1]
    fibo_list.append(next_fibo_value)
print(fibo_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]